{% extends "edunext_client/index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form %}
            {{ field.errors }}
        {% endfor %}
        <div class="form-group">
            <label for="{{ form.id.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.id.label }}</label>
            <div class="col-sm-8">
                {{ form.id }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.ENABLE_MKTG_SITE.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.ENABLE_MKTG_SITE.label }}</label>
            <div class="col-sm-8">
                {{ form.ENABLE_MKTG_SITE }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.LANGUAGE_CODE.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.LANGUAGE_CODE.label }}</label>
            <div class="col-sm-8">
                {{ form.LANGUAGE_CODE }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.PLATFORM_NAME.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.PLATFORM_NAME.label }}</label>
            <div class="col-sm-8">
                {{ form.PLATFORM_NAME }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.SITE_NAME.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.SITE_NAME.label }}</label>
            <div class="col-sm-8">
                {{ form.SITE_NAME }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.TIME_ZONE_DISPLAYED_FOR_DEADLINES.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.TIME_ZONE_DISPLAYED_FOR_DEADLINES.label }}</label>
            <div class="col-sm-8">
                {{ form.TIME_ZONE_DISPLAYED_FOR_DEADLINES }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.LAST_ACCESSED.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.LAST_ACCESSED.label }}</label>
            <div class="col-sm-8">
                {{ form.LAST_ACCESSED }}
            </div>
        </div>


        <div class="form-group">
            <label for="{{ form.course_about_show_social_links.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.course_about_show_social_links.label }}</label>
            <div class="col-sm-8">
                {{ form.course_about_show_social_links }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.course_index_overlay_logo_file.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.course_index_overlay_logo_file.label }}</label>
            <div class="col-sm-8">
                {{ form.course_index_overlay_logo_file }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.course_org_filter.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.course_org_filter.label }}</label>
            <div class="col-sm-8">
                {{ form.course_org_filter }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.released_languages.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.released_languages.label }}</label>
            <div class="col-sm-8">
                {{ form.released_languages }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.show_homepage_promo_video.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.show_homepage_promo_video.label }}</label>
            <div class="col-sm-8">
                {{ form.show_homepage_promo_video }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.show_partners.id_for_label }}"
                   class="col-sm-2 control-label">{{ form.show_partners.label }}</label>
            <div class="col-sm-8">
                {{ form.show_partners }}
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input class="btn btn-primary pull-left" type="submit" name="submit"
                       value="{% trans 'Save Changes' %}">
            </div>
        </div>

    </form>

{% endblock %}