{% extends "edunext_client/index.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}
<table class="table table-striped">

    <thead>
    <th>{% trans 'id' %}</th>
    <th>{% trans 'course_about_show_social_links' %}</th>
    <th>{% trans 'course_index_overlay_logo_file' %}</th>
    <th>{% trans 'course_org_filter' %}</th>
    <th>{% trans 'released_languages' %}</th>
    <th>{% trans 'show_homepage_promo_video' %}</th>
    <th>{% trans 'show_partners' %}</th>
    </thead>
    <tbody>
    {% for data_costumer in customer_data_list %}
    <tr>
        <td><a href="{% url 'edunext_client:edunext_edit' data_costumer.id %}">{{ data_costumer.id }}</a></td>
        <td>{{ data_costumer.data.course_about_show_social_links }}</td>
        <td>{{ data_costumer.data.course_index_overlay_logo_file }}</td>
        <td>{{ data_costumer.data.course_org_filter }}</td>
        <td>{{ data_costumer.data.released_languages }}</td>
        <td>{{ data_costumer.data.show_homepage_promo_video }}</td>
        <td>{{ data_costumer.data.show_partners }}</td>

    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}